/*General styling*/
ion-content {
  --padding-top: 10px;
  --padding-bottom: 10px;
}

ion-card.category-card {
  margin: 10px;
}

/*Page title styling*/
.entertain-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #017E6E;
}

 /*Category class elements styling*/
.category-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--ion-color-primary);
}

.category-subtitle {
  color: var(--category-sub-color);
}


/*Card class elements styling*/
.event-card {
  display: flex;
  gap: 12px;
  align-items: flex-start;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 12px;
  background: var(--ion-item-background, #fff);
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease;
  padding: 10px;
}

.event-card:hover {
  transform: scale(1.01);
}

.event-image-wrapper {
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 8px;
}

.event-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.event-details {
  flex-grow: 1;
  padding-right: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.event-main {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.event-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 48px;
  margin-bottom: 6px;
}

.event-title {
  font-size: 1.1rem;
  margin: 0;
  font-weight: 600;
  color: var(--event-title-color);
}

.event-description {
  margin-top: auto;
  font-size: 0.95rem;
  color: var(--event-desc-color);
}

.right-info {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 4px;
  font-size: 0.85rem;
  color: #666;
  min-width: 90px;
  flex-shrink: 0;
}

.right-info ion-icon {
  vertical-align: middle;
  margin-right: 4px;
}

.event-date,
.event-location {
  display: flex;
  align-items: center;
  font-size: 0.85rem;
  color: var(--ion-text-color);

  ion-icon {
    font-size: 16px;
    margin-right: 4px;
  }
}

.event-link-icon {
  font-size: 1.2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

