<ion-content>
  <div class="emergency-banner">
  <h1>{{ 'assist.title' | translate }}</h1>
  <p>
    {{ 'assist.subtitle' | translate }}
    <a href="tel:121121121" class="emergency-call">112</a>
</p>
</div>

  <ion-list lines="full" [inset]="true">
    <ion-item class="element" *ngFor="let contact of contacts">
      <ion-label>
        <h2 >{{ contact.name | translate }}</h2>
        <p class="description">{{ contact.description | translate }}</p>
        <p class="address" *ngIf="contact.address">
          <ion-icon name="pin" style="vertical-align: middle; margin-right: 4px;"></ion-icon>
          {{ contact.address }}
        </p>
      </ion-label>

      <ion-buttons slot="end">
        <ion-button fill="clear" *ngIf="contact.phone" (click)="call(contact.phone)">
          <ion-icon name="call" color="tertiary"></ion-icon>
        </ion-button>
        <a
          *ngIf="contact.web"
          class="event-link-icon"
          [href]="contact.web"
          target="_blank"
          rel="noopener"
          title="Visit website"
        >
          <ion-icon name="globe-outline"></ion-icon>
      </a>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>
