/*Accessibility modal styling*/
ion-modal.accessibility-modal {
  --width: 300px;
  --height: 150px;
  --box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  --align-items: center;
  --justify-content: center;
  --background: var(--ion-background-color);
}

/*Scrollable tabs bar on low-resolution devices*/
@media (max-width: 500px) {
  ion-tab-bar {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    justify-content: flex-start
  }

  ion-tab-button {
    flex: 0 0 auto;
    flex-wrap: wrap;
    min-width: 100px;
    text-align: center;
  }
}