<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="Home" href="/home">
      <ion-icon aria-hidden="true" name="home-sharp"></ion-icon>
      <ion-label>{{ 'ui.home' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Explore" href="/pages/explore">
      <ion-icon aria-hidden="true" name="map-sharp"></ion-icon>
      <ion-label>{{ 'ui.explore' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Enjoy" href="/pages/entertain">
      <ion-icon aria-hidden="true" name="happy-sharp"></ion-icon>
      <ion-label>{{ 'ui.enjoy' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Help" href="/pages/assist">
      <ion-icon aria-hidden="true" name="help-sharp"></ion-icon>
      <ion-label>{{ 'ui.get help' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

  <ion-menu contentId="main-content" swipeGesture="false">
    <ion-header>
      <ion-toolbar>
        <ion-title>{{ 'ui.options' | translate }}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list lines="inset">

        <ion-item id="accessibility" lines="bottom" style="cursor: pointer;">
          {{ 'ui.access' | translate }}
          <ion-modal trigger="accessibility" cssClass="accessibility-modal">
            <ng-template>
              <ion-header>
                <ion-toolbar>
                  <ion-title>{{ 'ui.accalert' | translate }}</ion-title>
                  <ion-buttons slot="end">
                    <ion-button onclick="document.querySelector('ion-modal').dismiss()">{{ 'ui.close' | translate }}</ion-button>
                  </ion-buttons>
                </ion-toolbar>
              </ion-header>
              <ion-content class="ion-padding">
                <ion-item>
                  <ion-label>{{ 'ui.font' | translate }}</ion-label>
                  <ion-toggle slot="end" (ionChange)="toggleFontSize($event)" [checked]="isLargeFont"></ion-toggle>
                </ion-item>
              </ion-content>
            </ng-template>
          </ion-modal>
        </ion-item>

        <ion-item>
          <ion-label>{{ 'ui.lang' | translate }}<br />
          </ion-label>
          <ion-select interface="popover" [(ngModel)]="selectedLanguage" (ionChange)="changeLanguage($event.detail.value)">
            <ion-select-option value="en">{{ 'ui.eng' | translate }}</ion-select-option>
            <ion-select-option value="es">{{ 'ui.spa' | translate }}</ion-select-option>
            <ion-select-option value="bg">{{ 'ui.bul' | translate }}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label>{{ 'ui.dark' | translate }}</ion-label>
          <ion-toggle slot="end" (ionChange)="toggleDarkMode($event)" [checked]="isDarkMode"></ion-toggle>
        </ion-item>

        <ion-item id="about" lines="none" style="cursor: pointer;">
          {{ 'ui.about button' | translate }}
          <ion-alert
            trigger="about"
            header="Lloret Companion App"
            [message]="'ui.desc' | translate"
            [buttons]="[('ui.close' | translate)]">
          </ion-alert>
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-header id="main-content">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

</ion-tabs>