/*Avoid attribution overlap*/
.leaflet-routing-container {
  max-height: 200px;
  overflow-y: auto;
  scrollbar-width: thin;
  padding-right: 8px;
}

.leaflet-routing-container::-webkit-scrollbar {
  width: 6px;
}
.leaflet-routing-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

:host ::ng-deep .leaflet-control-attribution {
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

:host ::ng-deep .leaflet-control-attribution:hover {
  max-width: 100%;
}