:host {
  --ion-color-primary: #017E6E; // overrides default Ionic "primary" color
}

.explore-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.explore-container {
  width: 100%;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.explore-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #017E6E;
}

ion-col {
  padding: 8px;
}

ion-button {
  white-space: normal !important;  
  height: auto !important;         
  min-height: 70px;                
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;                 
  padding: 12px;
  line-height: 1.4;
}


