/* Alignment */
.homepage-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Title and subtitle info box styling */
.welcome-text {
  text-align: center;
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 8px;
  color: #017E6E;
}

.info-box {
  max-width: 800px;
  text-align: center;
  width: 90%;
  background-color: #e5f9f6;
  color: #017E6E;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
}

/* Widget alignment */
.content-section {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
  padding: 0 16px;
}

/* Weather maps styling */
.weather-widget {
  position: relative;
  flex: 1 1 640px;
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* FAB Button alignment */
.fab-wrapper {
  position: absolute;
  top: -20px;
  left: -2px;
  z-index: 10;
}

.fab-active {
  --background: #00ccb2;
  --background-activated: #b7f399;
  --background-hover: #a3e681;
  transform: scale(1.1);
}

/* General iframe settings */
.iframe-box {
  width: 100%;
  overflow: hidden;
}

.scrollable-frame iframe {
  overflow-y: auto;
  max-height: 100%;
  width: 100%;
}

/* Social embeds alignment*/
.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  height:500px;
  width: 100%;
  max-width: 1000px;
  margin-bottom: 24px;
}