<ion-content [fullscreen]="false">
  <div class="homepage-wrapper">

    <!-- Welcome message -->
    <h1 class="welcome-text">{{ 'home.welcome' | translate }}</h1>

    <!-- Welcome subtitle paragraph -->
    <div class="info-box" [innerHTML]="'home.banner' | translate">
    </div>

    <!-- Widget section -->
    <div class="content-section">
      
      <!-- Meteocat widget implementation -->
      <div class="weather-widget">
        <!-- FAB Button -->
        <ion-fab slot="fixed" vertical="top" horizontal="start" class="fab-wrapper">
          <ion-fab-button size="small">
            <ion-icon name="chevron-forward-circle"></ion-icon>
          </ion-fab-button>
          <ion-fab-list side="end">
            <ion-fab-button (click)="setFrame(1)" [ngClass]="{ 'fab-active': currentFrame === 1 }">
              <ion-icon name="calendar-number-sharp"></ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="setFrame(2)" [ngClass]="{ 'fab-active': currentFrame === 2 }">
              <ion-icon name="stats-chart-sharp"></ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="setFrame(3)" [ngClass]="{ 'fab-active': currentFrame === 3 }">
              <ion-icon name="rainy-sharp"></ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="setFrame(4)" [ngClass]="{ 'fab-active': currentFrame === 4 }">
              <ion-icon name="warning-sharp"></ion-icon>
            </ion-fab-button>
          </ion-fab-list>
        </ion-fab>

        
        <div class="iframe-box scrollable-frame">
          <iframe *ngIf="currentFrame === 1"
            src="https://static-m.meteo.cat/ginys/municipal8d?location=170950&language=en&color=017E6E&tempFormat=ºC&target=_blank"
            title="8-day forecast" frameborder="0" width="100%" height="260"></iframe>

          <iframe *ngIf="currentFrame === 2"
            src="https://static-m.meteo.cat/ginys/municipal72h?location=170950&language=en&color=017E6E&tempFormat=ºC&windSpeedFormat=km/h&mainChart=estCel&secondaryChart=true&target=_blank"
            title="72-hour forecast" frameborder="0" width="100%" height="350"></iframe>

          <iframe *ngIf="currentFrame === 3"
            src="https://static-m.meteo.cat/ginys/mapaRadar?language=en&color=017E6E&target=_blank"
            title="Radar" frameborder="0" width="100%" height="412"></iframe>

          <iframe *ngIf="currentFrame === 4"
            src="https://static-m.meteo.cat/ginys/mapaAvisos?language=en&color=017E6E&target=_blank"
            title="Warnings" frameborder="0" width="100%" height="525"></iframe>
        </div>
      </div>

      <!-- Instagram embed implementation -->
      <ion-card class="insta-card">
        <ion-card-content>
          <iframe 
            src="https://www.instagram.com/lloretturisme/embed"
            width="100%" height="380"
            style="border:none;" scrolling="yes">
          </iframe>
        </ion-card-content>
      </ion-card>

       <!-- Livecam implementation -->
      <ion-card class="livecam-card">
        <ion-card-content>
          <div class="iframe-box">
            <iframe
              src="https://www.whatsupcams.com/en/webcams/spain/catalonia/lloret-de-mar/webcam-lloret-de-mar-beach/"
              width="100%"  frameborder="0" allowfullscreen scrolling="yes">
            </iframe>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
