/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
/* @import "@ionic/angular/css/palettes/dark.system.css"; */


:root {
  --ion-background-color: #fff;
  --ion-text-color: #000;
  /* light theme */
}

body.dark {
  --ion-background-color: #222a25;
  --ion-text-color: #fff;
  --ion-item-background: #1e1e1e;
  --ion-border-color: #444;
  /* dark theme */
}

body.dark {
  --ion-background-color: #121212;
  --ion-item-background: #1e1e1e;
  --ion-text-color: #ffffff;
  --ion-border-color: #444;
}


body.dark .alert-radio-label {
  color: #fff !important; // Or a more subtle light tone like #f0f0f0
}



body.dark ion-alert {
  --background: #1e1e1e;
  --color: #fff;
}

body.dark ion-alert .alert-title,
body.dark ion-alert .alert-message {
  color: #fff !important;
}



ion-modal.fullscreen-modal {
  height: 100% !important;
  --height: 100% !important;
}

.fullscreen-modal {
  --height: 100% !important;
  --width: 100% !important;
  --border-radius: 0 !important;
  --max-height: 100% !important;
  --max-width: 100% !important;
  --overflow: hidden;
}